  /*titulo*/
  /*titulo*/
  
  .titulo {
      width: auto;
      text-align: center;
      color: white;
      background-color: $darkColor;
      padding: 5px;
  }

  /*subtitulo*/
  /*subtitulo*/

  .subtitulo {
      text-decoration: underline;
  }