 /*CONTACTO*/
 /*CONTACTO*/

 .contacto {
     margin-bottom: 100px;
 }

 .contacto a {
     text-decoration: none;
 }

 .contacto ul {
     background-color: $darkColor;
     border-radius: 10px;
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .contacto ul li a {
     display: flex;
     align-items: center;
     padding: 10px;
     color: aliceblue;
 }

 .contacto ul li a img {
     width: 50px;
     height: 50px;
     margin-right: 40px;
     background-color: $greyColor;
     padding: 5px;
     border-radius: 5px;
 }

 .contacto ul li a h2 {
     background-color: $greyColor;
     padding: 10px;
     border-radius: 5px;
     transition: 0.8s;

     &:hover {
         background-color: rgba(92, 92, 92, 0);
         color: red;
         border: solid 0.5px rgba(92, 92, 92, 0.616);
     }
 }

 .mapa {
     border-radius: 5px;
     height: 40vh;
     width: 80vw;
 }

 @media (max-width: 550px) {
     .contacto ul {
         width: 300px;
     }

     .contacto ul li {
         display: flex;
         justify-content: start;
     }

     .contacto ul li a img {
         width: 50px;
         height: 50px;
         margin-right: 10px;
     }

     .contacto ul li a h2 {
         font-size: medium;
     }
 }