 /*publicaciones*/
 /*publicaciones*/
 .presentacion {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
     gap: 30px;
     height: auto;
     margin-top: 20px;
     margin-bottom: 50px;
     background-color: rgba(0, 0, 0, 0.849);
     padding: 10px;
     grid-template-areas: "pimg pp";
 }

 .imgpres {
     display: flex;
     justify-content: center;
 }

 .imgpres img {
     border: solid 2px rgba(255, 0, 0, 0.527);
     border-radius: 2px;
     overflow: hidden;
     grid-area: pimg;
     height: 300px;
     object-position: center center;
 }

 .parpres {
     display: flex;
     justify-content: center;
     color: white;
     font-size: larger;
     grid-area: pp;
 }

 @media (max-width: 850px) and (min-width: 480px) {
     .presentacion {
         grid-template-columns: 1fr;
         grid-template-areas: "pimg" "pp";
     }
 }

 @media (max-width: 480px) {
     .presentacion {
         grid-template-columns: 1fr;
         grid-template-areas: "pimg" "pp";
     }

     .parpres {
         font-size: small;
     }

     .imgpres img {
         height: 200px;
         object-fit: cover;
     }
 }

 .epigrafe {
     background-color: rgba(0, 0, 0, 0.849);
     width: auto;
     padding: 5px;
 }

 .publicaciones {
     display: grid;
     padding: 20px;
     grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
     column-gap: 10px;
     row-gap: 50px;
     width: 100vw;
     justify-items: center;
 }

 .publicacion img {
     width: 230px;
     object-fit: cover;
 }

 .publicacion {
     display: flex;
     flex-direction: column;
     justify-content: center;
     border-radius: 5px;
     border: solid 1px;
     border-color: rgba(0, 0, 0, 0.582);
     width: 300px;
     height: 350px;
     overflow: hidden;
     text-align: start;
     align-items: center;
     background-color: rgba(255, 255, 255, 0.603);
     transition-duration: 0.5s;

     &:hover {
         cursor: pointer;
         box-shadow: 0px 0px 5px 5px rgba(61, 61, 61, 0.747);
         border: none;
         background-color: rgb(228, 228, 228);
         transform: scale(1.05);
         height: 400px;

         .descrip {
             display:flex;
         }

         .publ_general {
             margin-top: 0px;
         }

         .publ_general img {
             width: 160px;
             object-fit: cover;
         }
     }
 }

 .publ_general {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 0px;
     transition: 0.5s;
 }

 .publ_general img {
     transition: 0.5s;
 }

 .descrip {
     display:none;
     padding: 20px;
     font-size: small;
     transition: 0.5s;

 }

 @media (max-width: 768px) {
     .publicaciones {
         grid-template-columns: 1fr;
     }
 }