/*info*/
/*info*/

.presentacion {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 30px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.849);
    padding: 10px;
    grid-template-areas: "pimg pp";
}

.imgpres {
    display: flex;
    justify-content: center;
}

.imgpres img {
    border: solid 2px rgba(255, 0, 0, 0.527);
    border-radius: 2px;
    overflow: hidden;
    grid-area: pimg;
    height: 300px;
    object-position: center center;
}

.parpres {
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger;
    grid-area: pp;
}

@media (max-width: 850px) and (min-width: 480px) {
    .presentacion {
        grid-template-columns: 1fr;
        grid-template-areas: "pimg" "pp";
    }
}

@media (max-width: 480px) {
    .presentacion {
        grid-template-columns: 1fr;
        grid-template-areas: "pimg" "pp";
    }

    .parpres {
        font-size: small;
    }

    .imgpres img {
        height: 200px;
        object-fit: cover;
    }
}

.infoProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    color: rgb(255, 255, 255);
    grid-template-areas: "infoc musculacion" "boxeo infob" "infop natacion";
    gap: 10px;
}

.infoc {
    grid-area: infoc;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 20px;
}

.infop {
    grid-area: infop;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 20px;
}

.infob {
    grid-area: infob;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 20px;
}

.musculacion {
    background-image: url(../img/deportes/musculacion1.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    grid-area: musculacion;
}

.boxeo {
    background-image: url(../img/deportes/boxeo.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    grid-area: boxeo;
}

.natacion {
    background-image: url(../img/deportes/natacion.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    grid-area: natacion;
}

@media (max-width: 600px) {
    .infoProductos {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        color: rgb(255, 255, 255);
        grid-template-areas: "infoc" "musculacion" "infob" "boxeo " "infop" "natacion";
        gap: 10px;
    }

    .infoc .infob .infop p {
        font-size: small;
    }
}