/*media queries*/
/*media queries*/

//HEADER--HEADER--HEADER--HEADER--HEADER
//HEADER--HEADER--HEADER--HEADER--HEADER
@media (max-width: 1060px) and (min-width: 850px) {
    header {
        justify-content: space-between;
    }

    .icono a img {
        width: 20%;
    }

    .icono a h1 {
        font-size: x-large;
    }

    .busqueda_marcas {
        justify-content: center;
    }

    .busqueda {
        margin-top: 100px;
        margin-left: 30px;
        width: 200px;
    }

    .marcas {
        margin-top: 20px;
        margin-left: 30px;
    }

    .busqueda input {
        width: 130px;
    }
}

@media (max-width: 850px) and (min-width: 610px) {
    header {
        justify-content: space-between;
        width: 100vw;
    }

    .icono a img {
        width: 100px;
    }

    .icono a h1 {
        font-size: larger;
        width: auto;
        align-items: center;
    }

    .busqueda_marcas {
        justify-content: space-between;
        height: 100%;
        margin-left: 3%;
    }

    .busqueda {
        margin-top: 90px;
        margin-left: 10%;
        height: 40px;
        width: 180px;
        margin-bottom: 1px;
        align-items: center;
    }

    .marcas {
        margin-top: 5px;
        margin-left: 5px;
    }

    .busqueda input {
        width: 130px;
    }
}

@media (max-width: 610px) and (min-width: 480px) {
    header {
        justify-content: space-between;
    }

    .icono {
        position: absolute;
        margin-left: 45%;
        margin-top: -18%;
    }

    .icono a img {
        width: 50px;
    }

    .icono a h1 {
        font-size: large;
        width: auto;
        align-items: center;
    }

    .busqueda_marcas {
        justify-content: space-between;
        height: 100%;
        margin-left: 3%;
        align-items: center;
    }

    .busqueda {
        margin-top: 90px;
        margin-left: 10%;
        height: 40px;
        margin-bottom: 1px;
        align-items: center;
        form input {
            width: 210px;
        }


    }

    .marcas {
        margin-top: 5px;
        margin-left: 5px;
    }

    .busqueda input {
        width: 130px;
    }

    .linksRedes{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header {
        justify-content: space-between;
    }

    .icono {
        position: absolute;
        margin-left: 45%;
        margin-top: -15%;
    }

    .icono a img {
        width: 60px;
    }

    .icono a h1 {
        font-size: medium;
        width: auto;
        align-items: center;
    }

    .busqueda_marcas {
        justify-content: space-between;
        height: 100%;
        margin-left: 3%;
    }

    .busqueda {
        margin-top: 120px;
        margin-left: 2px;
        height: 30px;
        width: 180px;
        align-items: center;
        form{
            width: 120px;
            margin-left: -10px;
        }
    }

    .marcas {
        display: none;
        margin-top: 5px;
        margin-left: 0px;
    }

    .busqueda input {
        width: 130px;
    }
//FOOTER-FOOTER-FOOTER-FOOTER-FOOTER
    .linksRedes{
        flex-direction: column;
    }

    .logof{
        margin-left: 10px;
    }

    .copy{
        font-size: medium;
    }
}


//INFO-INFO-INFO-INFO-INFO-INFO-INFO
//INFO-INFO-INFO-INFO-INFO-INFO-INFO
@media (max-width: 850px) and (min-width: 480px) {
    .presentacion {
        grid-template-columns: 1fr;
        grid-template-areas: "pimg" "pp";
    }
}

@media (max-width: 600px) {
    .infoProductos {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        color: white;
        grid-template-areas: "infoc" "musculacion" "infob" "boxeo " "infop" "natacion";
        gap: 10px;
    }

    .infoc .infob .infop p {
        font-size: small;
    }
}

@media (max-width: 480px) {
    .presentacion {
        grid-template-columns: 1fr;
        grid-template-areas: "pimg" "pp";
    }

    .parpres {
        font-size: small;
    }

    .imgpres img {
        height: 200px;
        object-fit: cover;
    }
}

//INDEX-INDEX-INDEX-INDEX-INDEX-INDEX
//INDEX-INDEX-INDEX-INDEX-INDEX-INDEX
@media (max-width: 768px) {
    .publicaciones {
        grid-template-columns: 1fr;
    }
}

//CONTACTO-CONTACTO-CONTACTO-CONTACTO
//CONTACTO-CONTACTO-CONTACTO-CONTACTO
@media (max-width: 550px) {
    .contacto ul {
        width: 300px;
    }

    .contacto ul li {
        display: flex;
        justify-content: start;
    }

    .contacto ul li a img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .contacto ul li a h2 {
        font-size: medium;
    }
}


